
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form>
            <button type="submit" formaction="@Url.Action("ExportStore")">下載店點</button>
            <button type="submit" formaction="@Url.Action("ExportSpot")">下載景點</button>
        </form>
    </div>
</body>
</html>
